body {
    background-image: url('starrysky.jpg');
	background-size: cover;
	
}

.title h1{
	color: white;
	font-family: 'Indie flower', cursive;
	font-weight: bold;
	font-size: 50px;
	padding-left: 50px;
	
}


.nav{
	padding-top: 15px;
	

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: black;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}


.nav-tabs a{
	font-family:'Shift', sans-serif;
	font-weight: bold;
	font-color: white;
	display: inline;
	font-size: 15px;
	color: white;
	opacity: 1;
}