body {
    background-image: url('starrysky.jpg');
	background-size: 1200px 1500px;
	
}

.title h1{
	color: white;
	font-family: 'Indie flower', cursive;
	font-weight: bold;
	font-size: 50px;
	padding-left: 50px;
	
}


.nav{
	padding-top: 15px;
}

.nav-tabs a:hover{
	color:black;
}
.nav-tabs a{
	font-family:'Shift', sans-serif;
	font-weight: bold;
	font-color: white;
	display: inline;
	font-size: 15px;
	color: white;
	opacity: 1;
}

.countdays .container{
	text-align: center;
	font-size: 30px;
	border: 1px solid white;
	border-radius: 25px;
	background-color: black;
	background-size: 100px 100px;
	vertical-align: middle;

}















