body {
	background: linear-gradient(#FAD2FA, lightyellow 25%);
	background-repeat: no-repeat;
	height: 800px;
	font-family: 'Shadows Into Light', cursive;
}

body h1{
	font-size: 48px;
	margin-right: auto;
	margin-left: auto;
}

.nav li{
	display: inline;
	font-size: 20px;
}